<div class="panel panel-primary text-center">
  <div class="panel-heading">
    All artists:
  </div>
  <div class="panel-body">

    <% @artists.each do |artist| %>
    <div class="list-group">
      <div class="list-group-item">
        <h4><%= artist.name %></h4>
      </div>

    </div>
    <% end %>

  </div>
</div>
